@model List<Market.Domain.ViewModels.Order.OrderViewModel>

@{
    ViewBag.Title = "Замовлення";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        @if (Model == null || Model.Count == 0)
        {
            <div class="col-md-12 text-center">
                <div class="card mt-5">
                    <div class="card-body">
                        <h5 class="card-title">Список замовлень пустий :(</h5>
                    </div>
                </div>
            </div>
        }
        else
        {
            @foreach (var item in Model)
            {
                <div class="col-md-3 mt-4">
                    <div class="card">
                       
                        <div class="card-body">
                            <h5 class="card-title">@item.ProductName</h5>
                            <p class="card-text">Модель: @item.Model</p>
                            <p class="card-text">Тип: @item.TypeProduct</p>
                            <p class="card-text">Ціна: @item.Price</p>
                            <p class="card-text">Кількість: @item.Quantity</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Ім'я: @item.FirstName @item.LastName</li>
                            <li class="list-group-item">Адреса: @item.Address</li>
                            <li class="list-group-item">Телефон: @item.Phone</li>
                            <li class="list-group-item">Дата створення: @item.DateCreate</li>
                            <li class="list-group-item">Відправлення: @item.Post</li>
                            <li class="list-group-item">Оплата: @item.Payment</li>
                            <li class="list-group-item">Коментарі: @item.Comments</li>
                        </ul>
                        <div class="card-footer text-center">
                            <button class="btn btn-primary" onclick="openModal({ url: '/Basket/GetItemByAdmin', data: '@item.Id' })"
                                    data-toggle="ajax-modal" data-target="Modal">
                                Відкрити
                            </button>
                            <a asp-controller="Order" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Видалити</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
