@model Market.Domain.ViewModels.Order.OrderViewModel

<div class="row">
    <div class="col-md-12">
        @if (Model.Photo != null)
        {
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Photo?.ImageData ?? Array.Empty<byte>())" class="img-fluid" />
        }
        else
        {
            <img src="https://example.com/default-image.jpg" class="img-fluid" />
        }
    </div>
    <div class="col-md-6">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Товар: @Model.ProductName</li>
            <li class="list-group-item">Модель: @Model.Model</li>
            <li class="list-group-item">Потужність: @Model.Power</li>
            <li class="list-group-item">Тип: @Model.TypeProduct</li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">ПІБ: @Model.FirstName @Model.LastName.Substring(0, 1) @Model.MiddleName.Substring(0, 1)</li>
            <li class="list-group-item">Адреса: @Model.Address</li>
            <li class="list-group-item">Дата створення: @Model.DateCreate</li>
            <li class="list-group-item">Телефон: @Model.Phone</li>
            <li class="list-group-item">Відправлення: @Model.Post</li>
            <li class="list-group-item">Оплата: @Model.Payment</li>
            <li class="list-group-item">Коментарі: @Model.Comments</li>
        </ul>
    </div>
</div>
