@model Market.Domain.ViewModels.Product.ProductViewModel

@{
    ViewBag.Title = "Товар";
    Layout = "_Layout";
}

<style>
    .main-image {
        width: 100%;
        height: auto;
        display: block;
    }

    .thumbnail-image {
        width: 100px;
        height: auto;
        display: inline-block;
        cursor: pointer;
        margin-right: 5px;
    }
</style>

<content class="bg-light">
    <form class="bg-white" id="edit-product-form">


        <div class="row">
            <div class="col-md-6">
                <img class="main-image" src="data:image/jpeg;base64,@Convert.ToBase64String(Model?.Image ?? Array.Empty<byte>())" alt="@Model.Name" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img class="thumbnail-image" src="data:image/jpeg;base64,@Convert.ToBase64String(Model?.Image ?? Array.Empty<byte>())" alt="@Model.Name" />
                <img class="thumbnail-image" src="data:image/jpeg;base64,@Convert.ToBase64String(Model?.Image2 ?? Array.Empty<byte>())" alt="@Model.Name" />
                <img class="thumbnail-image" src="data:image/jpeg;base64,@Convert.ToBase64String(Model?.Image3 ?? Array.Empty<byte>())" alt="@Model.Name" />
                <img class="thumbnail-image" src="data:image/jpeg;base64,@Convert.ToBase64String(Model?.Image4 ?? Array.Empty<byte>())" alt="@Model.Name" />
                <img class="thumbnail-image" src="data:image/jpeg;base64,@Convert.ToBase64String(Model?.Image5 ?? Array.Empty<byte>())" alt="@Model.Name" />
            </div>
        </div>
        <div class="form-group col-md-4 d-none">
            <label asp-for="@Model.Id" class="col-form-label"></label>
            <input type="text" class="form-control" asp-for="@Model.Id">
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.Name" class="col-form-label"></label>
            <input type="text" class="form-control" asp-for="@Model.Name">
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.ProdModel" class="col-form-label"></label>
            <input class="form-control" asp-for="@Model.ProdModel" />
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.Price" class="col-form-label"></label>
            <input type="text" class="form-control" asp-for="@Model.Price" />
        </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label asp-for="@Model.Description" class="col-form-label"></label>
                <textarea id="description" type="text" class="form-control" asp-for="@Model.Description"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="@Model.TypeProduct" class="col-form-label"></label>
                <select asp-for="@Model.TypeProduct" class="form-control product-type-select" data-types-url="@Url.Action("GetTypes", "Product")"></select>

                </select>
            </div>
            <div class="form-group col-md-6">
                <label class="col-form-label">Зображення</label>
                <input asp-for="@Model.Avatar" class="form-control" type="file">
            </div>
            @if (User.IsInRole("Admin"))
            {
                <div class="form-group col-md-6">
                    <label asp-for="@Model.DateCreate" class="col-form-label"></label>
                    <input class="form-control" asp-for="@Model.DateCreate" />
                </div>
            }

        </div>

        <div class="modal-body">
            @{
                var productId = Model.Id;
                Console.WriteLine("Product Id: " + productId);
            }
            <a asp-controller="Order" asp-action="CreateOrder" asp-route-id="Model.Id" class="btn btn-success">В кошик</a>

            @if (User.IsInRole("Admin"))
            {

                <a id="edit-product-done" class="btn btn-succes">Змінити</a>

                <a asp-controller="Product" asp-action="Delete" asp-route-id="Model.Id" class="btn btn-danger">Видалити</a>
            }
        </div>
    </form>

</content>



@section pageScripts
    {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var editProductBtn = document.getElementById('edit-product-done');
            editProductBtn.addEventListener('click', function () {
                var id = document.getElementById('Id').value;
                var name = document.getElementById('Name').value;
                var prodModel = document.getElementById('ProdModel').value;
                var price = document.getElementById('Price').value;
                var description = document.getElementById('description').value;

                // Створюємо об'єкт з даними для відправки на сервер
                var data = {
                    id: id,
                    name: name,
                    prodModel: prodModel,
                    price: price,
                    description: description
                };

                // Виконуємо POST-запит на сервер з використанням Fetch API
                fetch('/Product/Edit', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                    .then(function (response) {
                        // Обробка відповіді сервера
                        if (response.ok) {
                            // Дії, якщо редагування успішне
                            alert('Товар було змінено.');
                            // Перенаправлення на іншу сторінку або оновлення поточної сторінки
                            window.location.href = '/Product/GetProducts';
                        } else {
                            // Дії, якщо сталася помилка при редагуванні товару
                            alert('Сталася помилка. Спробуйте ще раз.');
                        }
                    })
                    .catch(function (error) {
                        // Обробка помилки
                        console.log('Помилка:', error);
                        alert('Сталася помилка. Спробуйте ще раз.');
                    });
            });
        });
    </script>




    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var mainImage = document.querySelector('.main-image');
            var thumbnailImages = document.querySelectorAll('.thumbnail-image');

            thumbnailImages.forEach(function (thumbnail) {
                thumbnail.addEventListener('click', function () {
                    mainImage.src = thumbnail.src;
                });
            });
        });
    </script>

    <script>
        $(function () {
            var $description = $('#description');
            var lineHeight = parseInt($description.css('lineHeight'));
            var lines = $description.val().split('\n').length;
            $description.height(lineHeight * lines);
        });
    </script>
}