@using Market.Domain.ViewModels.Product
@model Market.Domain.ViewModels.Product.ProductViewModel

@{
    ViewBag.Title = "Товар";
    Layout = "_Layout";
    var product = Model;
}

<form class="bg-light" id="edit-product-form">
    @* class="bg-light" id="edit-product-form" method="post" action="@Url.Action("Edit", "Product", new { id = Model.Id })">
    @Html.AntiForgeryToken()*@


    <div class="row">

    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="@Model.Id" class="col-form-label"></label>
            <input type="text" class="form-control" asp-for="@Model.Id">
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.Name" class="col-form-label"></label>
            <input type="text" class="form-control" asp-for="@Model.Name">
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.Model" class="col-form-label"></label>
            <input class="form-control" asp-for="@Model.Model" />
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.Price" class="col-form-label"></label>
            <input type="text" class="form-control" asp-for="@Model.Price" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label asp-for="@Model.Description" class="col-form-label"></label>
            <textarea id="description" type="text" class="form-control" asp-for="@Model.Description"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="@Model.TypeProduct" class="col-form-label"></label>
            <select asp-for="@Model.TypeProduct" class="form-control product-type-select" data-types-url="@Url.Action("GetTypes", "Product")"></select>

            </select>
        </div>
        <div class="form-group col-md-6">
            <label class="col-form-label">Зображення</label>
            <input asp-for="@Model.Avatar" class="form-control" type="file">
        </div>
        @if (User.IsInRole("Admin"))
        {
            <div class="form-group col-md-6">
                <label asp-for="@Model.DateCreate" class="col-form-label"></label>
                <input class="form-control" asp-for="@Model.DateCreate" />
            </div>
        }

    </div>

<div class="modal-body">
    <a asp-controller="Order" asp-action="CreateOrder" asp-route-id="@Model.Id" class="btn btn-success">В кошик</a>

    @if (User.IsInRole("Admin"))
    {

            <button id="edit-product-done" class="btn btn-succes">Змінити</button>

        <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Видалити</a>
    }
</div>
</form>

<style>
    label {
        color: black;
    }
</style>




@section pageScripts
    {
    <script>
        $(function() {
            $('#edit-product-done').on('click', function (e) {
                e.preventDefault();
                const model = $('#edit-product-form').serialize();
                console.log(model);
                $.ajax({
                    url: '@Url.Action("Edit")',
                    type: 'POST',
                    data: model,
                    success: function (result) {
                        // handle success
                    },
                    error: function (xhr, status, error) {
                        // handle error
                    }
                });
            });
        });
    </script>




<script>
    $(function () {
        var $description = $('#description');
        var lineHeight = parseInt($description.css('lineHeight'));
        var lines = $description.val().split('\n').length;
        $description.height(lineHeight * lines);
    });
</script>
}