@model Market.Domain.ViewModels.Product.ProductViewModel

@{
    ViewBag.Title = "Товар";
    Layout = "_Layout";
}

<form id="product-form" asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" id="productId" value="@Model.Id" />
    <div class="row">
        <div class="col-md-8 text-center">
            <img class="main-image" style="max-width: 100%;" src="data:image/jpeg;base64,@Convert.ToBase64String(Model?.Photos.FirstOrDefault() ?? Array.Empty<byte>())" alt="@Model.Name" />
        </div>
        <div class="col-md-4">
            @foreach (var image in Model?.Photos.Skip(1))
            {
                <div class="row">
                    <div class="col-md-12">
                        <img class="thumbnail-image" src="data:image/jpeg;base64,@Convert.ToBase64String(image ?? Array.Empty<byte>())" alt="@Model.Name" />
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 d-none">
            <label asp-for="@Model.Id" class="col-form-label"></label>
            <input type="text" class="form-control" id="Id" asp-for="@Model.Id">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="@Model.Name" class="col-form-label"></label>
            <input type="text" class="form-control" asp-for="@Model.Name">
        </div>
        <div class="form-group col-md-6">
            <label asp-for="@Model.ProdModel" class="col-form-label"></label>
            <input class="form-control" asp-for="@Model.ProdModel" />
        </div>
    </div>
    <label asp-for="@Model.Price" class="col-form-label"></label>
    <div class="row">
        <div class="input-group col-md-6">
            <input type="text" class="form-control col-md-6" asp-for="@Model.Price" />
            <div class="input-group-append">
                <span class="input-group-text">&#8372;</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label asp-for="@Model.Description" class="col-form-label"></label>
            <textarea id="description" type="text" class="form-control" asp-for="@Model.Description"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="@Model.TypeProduct" class="col-form-label"></label>
            <select asp-for="@Model.TypeProduct" class="form-control product-type-select" data-types-url="@Url.Action("GetTypes", "Product")"></select>
        </div>
    </div>
    @if (User.IsInRole("Admin"))
    {

        <div class="form-group col-md-6">
            <label asp-for="@Model.DateCreate" class="col-form-label"></label>
            <input class="form-control" asp-for="@Model.DateCreate" />
        </div>
    }

    <div class="modal-body">
        <a id="create-order-btn" class="btn btn-success">В кошик</a>
        @if (User.IsInRole("Admin"))
        {
            <button type="submit" class="btn btn-danger">Змінити</button>
            <a id="delete-product-btn" class="btn btn-danger">Видалити</a>
        }
    </div>
</form >
<div class="modal-body">
    <!-- Розміщення відгуків -->
    <div id="comments-section">
        <h4 style="color: whitesmoke"> Відгуки про товар</h4>
        <div id="comments-list"></div> <!-- Відображення списку відгуків -->
        <form id="comment-form">
            <div class="form-group">
                <textarea id="comment-text" class="form-control" rows="3" placeholder="Залиште свій відгук про наш товар"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Додати відгук</button>

        </form>
    </div>
</div>



@section pageScripts
    {
@*    <script>
        $(function () {
            $('#edit-product-done').on('click', function (e) {
                e.preventDefault();

                var form = document.getElementById('product-form');
                var formData = new FormData(form);
                var url = '@Url.Action("Edit", "Product")';

                $.ajax({
                    url: url,
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        // handle success
                    },
                    error: function (xhr, status, error) {
                        // handle error
                    }
                });
            });
        });
    </script>*@

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var mainImage = document.querySelector('.main-image');
            var thumbnailImages = document.querySelectorAll('.thumbnail-image');

            thumbnailImages.forEach(function (thumbnail) {
                thumbnail.addEventListener('click', function () {
                    mainImage.src = thumbnail.src;
                });
            });
        });
    </script>

    <script>
        $(function () {
            var $description = $('#description');
            var lineHeight = parseInt($description.css('lineHeight'));
            var lines = $description.val().split('\n').length;
            $description.height(lineHeight * lines);
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var createOrderBtn = document.getElementById('create-order-btn');
            createOrderBtn.addEventListener('click', function () {
                var form = document.getElementById('product-form');
                var formData = new FormData(form);
                var productId = formData.get('Id');
                var url = '/Order/CreateOrder/' + productId;
                window.location.href = url;
            });
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var deleteOrderBtn = $('delete-product-btn');
            if (deleteOrderBtn.length > 0) {
                deleteOrderBtn.addEventListener('click', function () {
                    var form = document.getElementById('product-form');
                    var formData = new FormData(form);
                    var productId = formData.get('Id');
                    var url = '/Product/Delete/' + productId;
                    window.location.href = url;
                });
            }
        });
    </script>

    <script>
        var productId = '@Model.Id';

        $(function () {
            // Завантаження коментарів
            loadComments();

            // Відправка форми коментарів
            $('#comment-form').on('submit', function (e) {
                e.preventDefault();

                var commentText = $('#comment-text').val();

                $.ajax({
                    url: '/Comment/AddComment/' + productId,
                    type: 'POST',
                    data: {
                        productId: productId,
                        text: commentText
                    },
                    success: function () {
                        // Очистка поля вводу коментаря
                        $('#comment-text').val('');

                        // Оновлення списку коментарів
                        loadComments();
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            });

  

        function loadComments() {
            var productId = $('#productId').val(); // Отримати значення productId з прихованого поля
            console.log($('#productId'), productId)

            $.ajax({
                url: '/Comment/GetComments/' + productId,
                type: 'POST',
                success: function (data) {
                    // Оновлення списку коментарів
                    $('#comments-list').html(data);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }
    </script>

}
